*{
    margin: 0;
    padding: 0;
    font-family: "poppins";
}


.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(77, 74, 74);
    color: rgb(251, 249, 249);
    height: 3rem;
    font-size: larger;
}

.left , .right{
    margin-left: 3rem;
    margin-right: 3rem;
}

.left{
    margin-top: 1rem;
}

.right ul{
    display: flex;
    list-style: none;
    padding: 1rem;

}

.right li a{
    text-decoration: none;
    color: rgb(250, 249, 249);
    margin-left: 3rem;
    font-family: "poppins";
    font-size: 1.5rem;
}

.secData{
    display: flex;
}

.Sleft,.Sright{
    margin-left: 4rem;
    margin-right: 2rem;
    margin-top: 2rem;
}


.Sleft h2{
    font-size: 5.6rem;
    margin-top: 5rem;
}

.Sleft  span{
    color: brown;
   
}

.Sright img{
    height: 25rem;
    width: 25rem;
    border-radius: 8rem;
    margin-right: 6rem;
}


.about{
    display: flex;
    margin-top: 2rem;
}

.Aleft img{
    height: 25rem;
    width: 25rem;
    border-radius: 10rem;
    margin-left: 4rem;
}

.Aright{
    font-size: 3rem;
    margin-top: 4rem;
    margin-left: 5rem;
}

.Aright span{
color: brown;
}


.first{
    border-left: 6px solid rgb(11, 11, 11);

    margin-left: 5rem;
    height: 6rem;
    
}



mid{
    display: flex;
    margin-bottom: 9rem;
}


.verticles{
    margin-left: 5rem;
    height: 93px;
    width: 3px solid rgb(18, 2, 2);
}





.pleft{
    margin-left: 3rem;
    font-size: 1.5rem;
}

.pright{
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-left: 3rem;
   
}


.footerD{
    background-color:rgb(66, 62, 62); 
    height: 2rem; 
    color: rgb(251, 249, 249);
     margin-top: 3rem;
     padding-top: 1rem;
}


.footer{
    margin-left: 35%;
    
}


.last{
    display: flex;
    justify-content: space-between;
}


.Lleft img{
height: 40rem;
width: 35rem;
}


.Lright p{
    margin-top: 6rem;
    font-size: 1.5rem;
}


.contac{
    margin-top: 1rem;
    margin-left: 3rem;
    
}

.contac a{
    margin-right: 1rem;
}